{% extends "connexion/layouts/base.html" %} {% block content %}

<div class="container bg-light p-5 shadow-md form-layout">
  <h3 class="text-center"> Créér votre compte</h3>
  <hr>
  <form
    method="post"
    class=""
    action="{% url 'register' %}"
    style="height: 90vh"
  >
    {% csrf_token %} {{ form.as_p }}
    <br>
    <input type="submit" value="S'inscrire" class="btn btn-primary btn-block p-2" />
  </form>
  <br>
  <div class="text-center">
    <p> Vous avez deja un compte? </p> <a href="{% url 'login' %}"> Connectez-vous </a>
</div>
</div>
<br>
{% endblock content %}
