{% extends 'carburant/layouts/base.html'%} {% block title %}Page
d'accueil{%endblock %} 

{%block content %}
<br>
<div class="container-fluid">
  <h4 class="text-secondary">Cuves</h4>
  <hr>
  <div class="d-flex justify-content-start w-100 mb-2">
    <a href="" class="btn btn-sm btn-outline-primary p-2">Ajout cuve &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
  </div>

  <table class="table table-hover table-sm">
    <thead class=" table bg-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Quantite (en litre) </th>
        <!-- <th scope="col">Affectation</th>
        <th scope="col">Quantite</th>
        <th scope="col">Cuve</th> -->
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for cuve in cuves %}
      <tr>
        <td scope="row">{{cuve.id}}</td>
        <td>{{cuve.nom}}</td>
        <td>{{cuve.quantite}}</td>
        <!-- <td>{{cuve.vehicule.immatricule}}</td>
        <td>{{cuve.vehicule.affectation}}</td> -->
    

        <td>
          <a href="#" class="btn btn-primary btn-sm" title="Voir"
            ><i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          <a
          
            href=""
            class="btn btn-warning btn-sm"
            title="Modifier"
            ><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a
            href=""
            class="btn btn-danger btn-sm"
            title="Supprimer"
            ><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
      </tr>
      {% endfor%}
    </tbody>
    <!-- Modal
    <div
      class="modal fade"
      id="confirmationModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Confirmation de suppression
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" action="">
            <div class="modal-body">
              Êtes-vous sûr de vouloir supprimer ?
              <p>
                LE cuve {{cuve.vehicule}} de
                {{cuve.quantite}} depuis {{cuve.cuve}} le
                {{cuve.date_heure_cuve}}
              </p>

              {% csrf_token %}
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Annuler
              </button>
              <a href="" class="btn btn-danger">Supprimer</a>
            </div>
          </form>
        </div>
      </div>
    </div> -->
  </table>
</div>

{% endblock %}

<!-- href="{% url 'updatecuve' cuve.id %}" -->
