{% extends 'carburant/layouts/base.html'%} {% block title %}Page
d'accueil{%endblock %} 
<!-- {%block sidebar%} 
{%include 'carburant/includes/sidebar_carburant.html'%}
 {%endblock%}  -->
 {%block content %}
 <br>
<div class="container border shadow-md p-5 form-layout ">
<br>
  <form method="post" class="col-sm-12" action="" style="">
    {% csrf_token %}

    <div class="modal-body text-center">
      <h4 class="text-danger ">Êtes-vous sûr de vouloir supprimer ?</h4>

      <hr>

      <br>
      <p>Le ravitaillement du {{vehicule.immatricule}}
        de {{quantite}} Litres
          à la date du {{date}}</p>
    </div>
    
    <br>
    <div class="modal-footer d-flex justify-content-around align-items-center">
      <a href="{% url 'listravitaillementcuve' %}" class="btn btn-secondary p-2">
        Annuler
      </a>
      <!-- {% comment %} &nbsp;   &nbsp;   &nbsp;   &nbsp; {% endcomment %} -->
      <button type="submit" class="btn btn-danger p-2">Supprimer</button>
    </div>
  </form>
</div>
{% endblock %}
